* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: serif;
  overflow: hidden;
  margin: 0;
  background-color: rgb(48, 52, 53);
}
.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}
.slide {
  height: 80vh;
  position: relative;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: white;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 500ms ease;
}

.active {
  flex: 10;
}
