* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "ABeeZee";
}
.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #46aab0;
  color: white;
}

.header img {
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header span {
  font-size: 20px;
  margin-top: 20px;
}
.navigation {
  min-height: 100%;
  background-color: #40a0a6;
}
.navigation ul {
  color: white;
  padding-top: 15%;
  margin-left: 10%;
}
.navigation ul li {
  margin-bottom: 12%;
  list-style-type: none;
}
.content {
  background-image: url("./img/Image_01.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.intro {
  width: 40%;
  color: white;
  margin-left: 10%;
  margin-top: 5%;
}
.first-paragraph {
  font-size: 44px;
  margin-bottom: 4%;
}
.last-paragraph {
  margin-top: 6%;
}
.second {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 5%;
  margin-top: 20%;
}
.cubes {
  height: 250px;
  display: flex;
  margin-left: 5%;
}
.cubes-one {
  width: 48%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #4099a6;
  color: white;
  padding-top: 10%;
}
.cubes-one img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
.cubes-two {
  width: 48%;
  background-color: white;
  color: #2a3737;
  padding-left: 3%;
  padding-top: 3%;
}
.cubes-two div {
  width: 80%;
}
.cubes-two span {
  font-size: 24px;
}
.cubes-two p {
  font-size: 17px;
  margin-top: 5%;
}
.second-photo {
  grid-row: span 2;
}

.what_do {
  width: 80%;
  border-radius: 5px;
  color: #2a3737;
  margin-left: 5%;
  margin-top: 12%;
  grid-row: 2/2;
}
.what_do span {
  color: #40a0a6;
}
.what_do-first {
  margin-top: 8%;
  font-size: 36px;
}
.what_do-two {
  margin-top: 3%;
  font-size: 17px;
}
.signature {
  grid-column: 2/2;
  margin-top: -10%;
}

@media (max-width: 1124px) {
  .intro {
    font-size: 12px;
  }
  .first-paragraph {
    font-size: 27px;
    margin-bottom: 4%;
  }
  .last-paragraph {
    margin-top: 6%;
  }
  .second {
    display: flex;
    flex-direction: column;
  }
  .second-photo {
    margin-top: 5%;
  }
  .what_do {
    margin-left: 0%;
    margin-top: 8%;
    order: 4;
  }
  .signature {
    margin-top: 10%;
    margin-top: 2%;
  }
}
